{% extends 'base.html' %}
<html>
  <head>
    <title>Test Cases</title>
  </head>
  <body>
    <h1>Test Cases</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>URL</th>
          <th>Browser</th>
          <th>Script</th>
          <th>File</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for test_case in test_cases %}
          <tr>
            <td>{{ test_case.name }}</td>
            <td>{{ test_case.description }}</td>
            <td>{{ test_case.url }}</td>
            <td>{{ test_case.browser }}</td>
            <td>{{ test_case.script }}</td>
            <td>{{ test_case.file }}</td>
            <td>
              <form action="{% url 'test_case_upload' test_case.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file">
                <button type="submit">Upload</button>
              </form>
              <form action="{% url 'test_case_run' test_case.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">Run</button>
              </form>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="7">No test cases found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'test_case_create' %}">Create Test Case</a>
  </body>
</html>


