{% extends 'base_user_login.html' %}
{% load static %}
{% block content %}

<head>
    <title>Welcome to the Test Platform</title>
</head>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white">
          <div class="card-body p-5 text-center login-container">

            <div class="mb-md-5 mt-md-4 pb-5">
              <i class="fas fa-flask-vial fa-beat fa-2xl" style="padding-bottom:50px"></i>
              <h2 class="fw-bold mb-2 text-uppercase">Welcome to the Test Platform</h2>

              <p class="text-white-50 mb-5">Please Log in or create an account to proceed</p>
              <div>
                <a class="btn btn-dark" id="login" href="{% url 'login' %}">
                  <i class="fas fa-sign-in-alt"></i> Log in
                </a>
                <span style="margin-left: 20px; margin-right: 20px;"><a class="text-white-50 mb-5"></a></span>
                <a class="btn btn-dark" id="register" href="{% url 'register' %}">
                  <i class="fas fa-user-plus"></i> Register
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


