{% extends 'base_user_login.html' %}
{% load static %}

{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white">
          <div class="card-body p-5 text-center login-container">

            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
              <p class="text-white-50 mb-5">Enter your new password</p>
              {% if error_message %}
                <p>{{ error_message }}</p>
              {% endif %}

              <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                  <label for="id_new_password1">New Password</label>
                  <input type="password" name="new_password1" id="id_new_password1" class="form-control">
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <p id="8char" class="mb-0"></p> Can’t be too similar to your other personal information.<br>
                    <p id="ucase" class="mb-0" style="color:#FF0004;"></p> Must contain at least 8 characters.
                  </div>
                  <div class="col-sm-6">
                    <p id="lcase" class="mb-0" style="color:#FF0004;"></p> Can’t be a commonly used password.<br>
                    <p id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></p> Can’t be entirely numeric.
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label for="id_new_password2">Confirm New Password</label>
                  <input type="password" name="new_password2" id="id_new_password2" class="form-control">
                </div>

                <button class="btn btn-dark px-5" type="submit">Reset Password</button>
              </form>

            </div>

            <div>
              <p class="mb-0">Remember your password? <a href="{% url 'login' %}" class="text-white-50 fw-bold">Login</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}