{% extends 'base_user_login.html' %}
{% load static %}

{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white">
          <div class="card-body p-5 text-center login-container">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
              <p class="text-white-50 mb-5">Enter the email associated with your account to receive password reset instructions.</p>
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="email">Enter your email:</label>
                  <input type="email" class="form-control" id="email" name="email" autocomplete="off">
                </div>
                <button class="btn btn-dark px-5" type="submit">Reset password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}