{% extends 'base.html' %}

{% block content %}

  <div class="tab-content">
    <h3>Test List</h3>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>
            {% include 'table_filter_dropdown.html' with dropdown_id="idDropdown" dropdown_label="Script ID" sort_by="id" search_field="script_id" search_value=search_script_id url_name='test_list' %}
          </th>
          <th>
            {% include 'table_filter_dropdown.html' with dropdown_id="nameDropdown" dropdown_label="Name" sort_by="name" search_field="name" search_value=search_name url_name='test_list' %}
          </th>
          <th>
            {% include 'table_filter_dropdown.html' with dropdown_id="lastRunStatusDropdown" dropdown_label="Last Run Status" sort_by="last_run_status" search_field="last_run_status" search_value=search_last_run_status url_name='test_list' %}
          </th>
          <th>
            {% with sort_by=request.GET.sort_by sort_order=request.GET.sort_order %}
              {% if sort_by == 'upload_date' and sort_order == 'desc' %}
                <a class="label" href="{% url 'test_list' %}?sort_by=upload_date&sort_order=asc">Uploaded At &#8595;</a>
              {% elif sort_by == 'upload_date' and sort_order == 'asc' %}
                <a class="label" href="{% url 'test_list' %}?sort_by=upload_date&sort_order=desc">Uploaded At &#8593;</a>
              {% else %}
                <a class="label" href="{% url 'test_list' %}?sort_by=upload_date&sort_order=desc">Uploaded At &#8595;&#8593;</a>
              {% endif %}
            {% endwith %}
          </th>
          <th>
            {% with sort_by=request.GET.sort_by sort_order=request.GET.sort_order %}
              {% if sort_by == 'last_run_date' and sort_order == 'desc' %}
                <a class="label" href="{% url 'test_list' %}?sort_by=last_run_date&sort_order=asc">Run Date &#8595;</a>
              {% elif sort_by == 'last_run_date' and sort_order == 'asc' %}
                <a class="label" href="{% url 'test_list' %}?sort_by=last_run_date&sort_order=desc">Run Date &#8593;</a>
              {% else %}
                <a class="label" href="{% url 'test_list' %}?sort_by=last_run_date&sort_order=desc">Run Date &#8595;&#8593;</a>
              {% endif %}
            {% endwith %}
          </th>
          <th>Go to</th>
        </tr>
      </thead>
      <tbody>
        {% for test in page_obj %}
        <tr>
          <td>{{ test.id }}</td>
          <td>{{ test.name }}</td>

          <td>{{ test.last_run_status }}</td>
          <td>{{ test.upload_date|date:"d-m-Y H:i:s" }}</td>
          <td>
            {% if test.last_run_date %}
              {{ test.last_run_date|date:"d-m-Y H:i:s" }}
            {% else %}
                Not run yet
            {% endif %}
          </td>
          <td><a href="{% url 'test_details' test_id=test.id %}" class="btn btn-dark" id="test_details_button">
            <i class="fas fa-light fa-info"></i>
            Details</a></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6">No Test Cases found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="panel panel-pagination panel-default panel-horizontal">
    <nav aria-label="Test run list pagination">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1{% if sort_by %}&sort_by={{ sort_by }}&sort_order={{ sort_order }}{% endif %}">&laquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if sort_by %}&sort_by={{ sort_by }}&sort_order={{ sort_order }}{% endif %}">&lt;</a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if num == page_obj.number %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if sort_by %}&sort_by={{ sort_by }}&sort_order={{ sort_order }}{% endif %}">&gt;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if sort_by %}&sort_by={{ sort_by }}&sort_order={{ sort_order }}{% endif %}">&raquo;</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>

{% endblock %}
