{% load static %}
{% block content %}

    <br>
    <br>
    <div class="table-container tab-content table-responsive">
        <table class="table table-sm" id="runs-table">
            <thead>
                <tr>
                    <th>Run ID</th>
                    <th>Run At</th>
                    <th>Status</th>

                    <th>Output</th>
                </tr>
            </thead>
            <tbody>
                {% for run in runs %}
                    <tr>
                        <td>{{ run.id }}</td>
                        <td>{{ run.date }}</td>
                        <td>{{ run.status }}</td>

                        <td><a href="{% url 'run_output' run.id %}" class="btn btn-primary">View Output</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No runs found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static 'js/test_history.js' %}"></script>
{% endblock %}
