{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        {{ field.label_tag }}
        {% render_field field class="form-control my-custom-class" %}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-dark">Upload file</button>
  </form>
{% endblock %}
