{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% include 'test_details_navbar.html' with active_tab='details' %}
  <div class="tab-content">
    <div class="tab-pane {% if active_tab == 'details' %}active{% endif %}" id="details" role="tabpanel">
      <table class="table table-sm table-vertical">
        <tr>
          <th>Name</th>
          <td>
            {% if edit_mode %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary"><lord-icon
                        src="https://cdn.lordicon.com/egiwmiit.json"
                        trigger="hover"
                        colors="primary:#121331"
                        class="icon">
                    </lord-icon></button>
                    <a href="{% url 'test_details' test_id=test.id %}" class="btn btn-secondary"><lord-icon
                        src="https://cdn.lordicon.com/nhfyhmlt.json"
                        trigger="hover"
                        colors="primary:#121331"
                        class="icon">
                    </lord-icon></a>
                </form>
                <br>
            {% else %}
                {{ test.name }} <button class="btn btn-secondary" onclick="location.href='{% url 'test_details' test_id=test.id %}?edit'" data-toggle="tooltip" data-placement="right" title="Rename">
                    <lord-icon
                    src="https://cdn.lordicon.com/wloilxuq.json"
                    trigger="hover"
                    colors="primary:#121331,secondary:#121331"
                    state="hover-2"
                    class="icon">
                    </lord-icon>
                </button>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Uploaded At</th>
          <td>{{ test.upload_date|date:"d-m-Y H:i:s" }}</td>
        </tr>
        <tr>
          <th>Last Run Status</th>
          <td>{{ test.last_run_status }}</td>
        </tr>
        <tr>
          <th>Last Run Time</th>
          <td>
            {% if test.last_run_date %}
              {{ test.last_run_date|date:"d-m-Y H:i:s" }}
            {% else %}
              Not run yet
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
  </div>


{% endblock %}
