{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block content %}
    <h2>{{ test.name }}</h2>
    <a href="{% url 'test_list' %}" class="btn btn-dark">Back to Test List</a>
    <br>
    <br>
    <table>
        <tr data-test-id="{{ test.id }}">
            <th>Name</th>
            <th>File</th>
            <th>Uploaded At</th>
            <th>Last Run Status</th>
            <th>Last Run Time</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>{{ test.name }}</td>
            <td><a href="{{ test.file.url }}" class="btn btn-dark">Script Code</a></td>
            <td>{{ test.upload_date }}</td>
            <td>{{ test.last_run_status }}</td>
            <td>{{ test.last_run_date }}</td>
            <td>
                <button id="delete-test-btn" class="btn btn-danger">Delete Test</button>
                <a href="{% url 'test_history' test.id %}" class="btn btn-primary">Show History</a>
            </td>
        </tr>
    </table>

    <br>
    <button id="run-test-btn" class="btn btn-dark">Run Test</button>
{% endblock %}
