{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block content %}
    <h3>{{ test.name }}</h3>
    {% if edit_mode %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary"><lord-icon
                src="https://cdn.lordicon.com/egiwmiit.json"
                trigger="hover"
                colors="primary:#121331"
                class="icon">
            </lord-icon></button>
            <a href="{% url 'test_details' test_id=test.id %}" class="btn btn-secondary"><lord-icon
                src="https://cdn.lordicon.com/nhfyhmlt.json"
                trigger="hover"
                colors="primary:#121331"
                class="icon">
            </lord-icon></a>
        </form>
        <br>
    {% else %}
        <button class="btn btn-secondary" onclick="location.href='{% url 'test_details' test_id=test.id %}?edit'">
            <lord-icon
            src="https://cdn.lordicon.com/wloilxuq.json"
            trigger="hover"
            colors="primary:#121331,secondary:#121331"
            state="hover-2"
            class="icon">
            </lord-icon> Edit Name
        </button>
    {% endif %}
    <!--<a href="{% url 'test_list' %}" class="btn btn-dark">Back to Test List</a>-->
    <button id="replace-file-btn" class="btn btn-primary"  name="replace-file" data-url="{% url 'replace_file' test_id=test.id %}">
        <lord-icon src="https://cdn.lordicon.com/wfadduyp.json" trigger="hover" colors="primary:#121331" state="hover-1" class="icon"></lord-icon> Replace File
    </button>

    <br>
    <br>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#details" role="tab">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#code" role="tab">Code</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#history" role="tab">History</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active table-sm" id="details" role="tabpanel">
            <table>
                <tr data-test-id="{{ test.id }}">
                    <th>Name</th>
                    <th>Uploaded At</th>
                    <th>Last Run Status</th>
                    <th>Last Run Time</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td>{{ test.name }}</td>
                    <td>{{ test.upload_date|date:"d-m-Y H:i:s" }}</td>

                    <td>{{ test.last_run_status }}</td>
                    <td>
                        {% if test.last_run_date %}
                          {{ test.last_run_date|date:"d-m-Y H:i:s" }}
                        {% else %}
                            Not run yet
                        {% endif %}
                    </td>
                    <td>
                        <button id="delete-test-btn" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete Test Case">
                          <lord-icon
                            src="https://cdn.lordicon.com/kfzfxczd.json"
                            trigger="hover"
                            colors="primary:#121331"
                            class="icon">
                          </lord-icon>
                        </button>

                        <button id="run-test-btn" class="btn btn-dark" data-toggle="tooltip" data-placement="bottom" title="Run Test">
                            <lord-icon
                                src="https://cdn.lordicon.com/xddtsyvc.json"
                                trigger="hover"
                                colors="primary:#121331"
                                state="hover"
                                class="icon">
                            </lord-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="tab-pane" id="code" role="tabpanel">
            {% include 'test_code.html' with file_content=file_content test=test %}
        </div>
        <div class="tab-pane" id="history" role="tabpanel">
           {% include 'test_history.html' %}
        </div>
    </div>
    <div id="replaceModalPlaceholder"></div>
    <div id="alert-container" ></div>
<script src="{% static 'js/test_history.js' %}"></script>
{% endblock %}