{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row" id="custom-row">
    {% include 'details_sidebar.html' %}

    <div class="col-md-9 details-content">
        <!-- Main content -->
        <h3>User Details</h3>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>

        <!-- Add more user details as needed -->
        <button id="delete-account-btn" class="btn btn-danger">Delete Account</button>

        <!-- Add more user details as needed -->
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
        <form id="delete-account-form" action="{% url 'delete_account' %}" method="post">
            {% csrf_token %}
            <button type="submit" style="display: none;"></button>
        </form>
    </div>
</div>

<script src="{% static 'js/user_details.js' %}"></script>
{% endblock %}
