
:root {
  --max-width: 1200px;
  --main-color: #222831;
  --second-color: #424e5f;
  --third-color: #6b7d98;
  --button-color: #343a40;
  --button-color-hover: #4b545c;
  --font-color: #dedede;
}

body {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  background-color: var(--main-color);
  color: #eee;
}
.navbar{
    height: 50px;
    background-color: var(--main-color) !important;
    border-bottom: 2px solid var(--second-color) !important;
}

.nav-item{
    border-color: var(--main-color);
}

.nav-tabs .nav-link.active {
    background-color: var(--third-color);
    border-color: var(--second-color);
}

.container{
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.site-container {
  margin: 0 auto;
  max-width: var(--max-width);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1200px; /* or any other value you prefer */
  margin: 0 auto;
  height: 2.5rem;            /* Footer height */
  color: #dedede;
}

tr{
    color: #dedede;
}

.custom-file-upload {
  display: none;
}

/* Override the default input background color */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="file"],
textarea {
    background-color: #212529;
    color: #dedede;
}

/* Override the default label color */
label {
    color: #dedede;
}

/* Override the default button background color */
.btn-dark {
    background-color: var(--button-color);
    border-color: var(--button-color);
    color: #dedede;
}
.btn-danger {
    color: #dedede;
}

/* Override the default button text color */
.btn-dark:hover {
    color: #fff;
    background-color: var(--button-color-hover);
    border-color: var(--button-color-hover);
}

.custom-file-input.custom-file-input {
  /* add your custom styles here */
  border: 1px solid #ccc;
  padding: 6px 10px;
  font-size: 16px;
  background-color: #343a40;
  color: #dedede;
}

input[type="file"]::file-selector-button {

  color: #dedede;

}



input::file-selector-button {
display: none;
}



.panel-horizontal .panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-horizontal .panel-heading .panel-title {
  display: flex;
  align-items: center;
  flex: 1;
}

.panel-horizontal .panel-heading .panel-title .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.panel-horizontal .panel-heading .panel-title .button-container .btn {
  margin: 0;
}

.panel-pagination {
  position: fixed;
  bottom: 5%;
  left: 0;
  width: 100%;
}

.pagination .page-item .page-link {
  background-color: var(--third-color) !important;
  border: 0.1px solid !important;
  border-color: var(--third-color) !important;
}

.pagination .page-item.active .page-link {
  background-color: var(--second-color) !important;
  border: 0.1px solid !important;
  border-color: var(--third-color) !important;
}

.table-container {
    max-height: 700px;
    overflow-y: auto;
}

/* Hide the scrollbar */
.table-container::-webkit-scrollbar {
    display: right;
}


.show-more-btn {
  background-color: var(--button-color);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}


/* Hide scrollbar track */
.table-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Dark scrollbar handle */
.table-container::-webkit-scrollbar-thumb {
  background-color: #444444;
}

/* On hover, display dark scrollbar handle */
.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

.centered {
  display: block;
  margin: 0 auto;
}




.my-custom-class {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
}

.my-custom-class:focus {
  outline: none;
  box-shadow: none;
  border-color: #4d90fe;
}

.my-custom-class:hover {
    color: #fff;
    background-color: #4b545c;
    border-color: #4b545c;
}

.main-container{
    background-color: var(--second-color);
    min-height: calc(100vh - 160px);
    border-radius: 7px;
    margin-top: 10px;
}
.panel-top{
    margin-top: 10px;
    background-color: var(--second-color);
    border-radius: 7px;
}

.header-sort{
color: var(--font-color) !important;
}

.icon{
    width:18px;
    height:18px;
    transform: scale(1.5);
    transform-origin: center;
    vertical-align: middle;
    margin-bottom: 2px;
}

.container2{
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  background-color: var(--main-color);
  border-radius: 7px;
  margin: 0px;
}
.container2 pre {
    padding: 20px;
}

.code-container{
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  background-color: var(--main-color);
  border-radius: 7px;
  margin: 0px;
}

.code-text {
  padding: 20px;
}
